@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", serif;
    /* color: #6c7289 */
}
h1, .pricing p{
    font-family: "Fraunces", serif;
    color: #1b4133

}